
.g-table {
    display: table;
    border-color: black;
    border-style: none;
    border-collapse: collapse;
}

.g-tr {
    display: table-row;
}

.g-th {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    min-width: 40px;
    height: 20px;

    padding: 2px;
}

.g-th:first-child {
    visibility: hidden;
}

.g-td {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    min-width: 40px;
    height: 20px;

    padding: 2px;

    cursor: pointer;
}

.g-td:not(:first-child) {
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-style: none;
}

.highlighted {
    background-color: yellow;
}
