
* {
    font-size: 16px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.g-table {
    display: table;
    border-style: none;
    border-collapse: collapse;
}

.g-tr {
    display: table-row;
}

.g-th {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    min-width: 40px;
    height: 20px;

    padding: 2px;
}

.g-th:first-child {
    visibility: hidden;
}

.fret-in-table {
    color: lightgray;
}

.g-td {
    display: table-cell;
    position: relative;
    vertical-align: middle;

    min-width: 60px;
    height: 24px;

    padding: 2px;

    cursor: pointer;
}

.g-td:not(:first-child) {
    border-color: lightgray;
    /*border-top-style: solid;*/
    /*border-top-width: 1px;*/
    /*border-bottom-style: solid;*/
    /*border-bottom-width: 1px;*/

    border-left-style: solid;
    border-left-width: 2px;
    border-right-style: none;
}

.note-in-table {
    position: absolute;
    left: 0px;
    top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 24px;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    z-index: 30;
    color: gray;
    font-weight: bold;
    opacity: 0.5;
}

.note-in-line {
    padding-left: 16px;
}

.markerarea-in-table {
    position: absolute;
    right: 4px;
    top: 6px;
    text-align: right;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    z-index: 10;
    /*opacity: 0.5;*/
}

.selected1-in-line {
    padding: 8px;
    background-color: lightyellow;
    line-height: 24px;
    vertical-align: middle;
    z-index: 30;
    color: gray;
    font-weight: bold;
}

.marker1-in-table {
    background-color: yellow;
    padding: 2px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
}

.marker2-in-table {
    background-color: orange;
    padding: 2px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
}

.marker3-in-table {
    background-color: lightgreen;
    padding: 2px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
}

.highlighted {
    background-color: yellow;
}

.button {
    display: inline-block;
    cursor: pointer;

    color: cornflowerblue;
    font-weight: bold;

    /*color: white;*/
    /*background-color: blue;*/
    /*border-color: blue;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-radius: 12px;*/

    /*padding-top: 4px;*/
    /*padding-bottom: 4px;*/
    /*padding-left: 8px;*/
    /*padding-right: 8px;*/
}

.string-line {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 20;
    width: 64px;
    height: 15px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    opacity: 0.5;
}

.neck-dot {
    position: absolute;
    left: 22px;
    top: 18px;
    padding: 0px;
    z-index: 20;
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    opacity: 0.4;
}

.key-line {
    font-weight: bold;
    color: lightgray;
}