<div id="FretBoard">
    <div class="key-line">
        <label>Key:&nbsp;</label>
        <span class="button" data-bind="click: previousKey">&lt;</span>
        <span data-bind="text: key().name" style="display: inline-block; width: 34px; text-align: center;" />
        <span class="button" data-bind="click: nextKey">&gt;</span>
        &nbsp;
        <span class="button" data-bind="text: '(' + keyTypeName() + ')', click: toggleKeyType" />

        <div class="button" style="position: absolute; right: 8px;" title="Click to remove this fret board"
             data-bind="click: $root.removeThisFretBoard" >
            [x]
        </div>

    </div>
    <br/>

    <div data-bind="template: { name: 'T_FretTable', data: table }"
         style="width: 100%; height: 300px; overflow-x: auto; overflow-y: visible;" />
    <br/>

    <table>
        <tr data-bind="template: { name: 'T_MarkedNotes', data: 0, as: 'colorNumber' }" />
        <tr data-bind="template: { name: 'T_MarkedNotes', data: 1, as: 'colorNumber' }" />
        <tr data-bind="template: { name: 'T_MarkedNotes', data: 2, as: 'colorNumber' }" />
    </table>

    <br/>
    <hr style="width: 100%;" />
    <br/>
</div>



<script type="text/html" id="T_FretTable">
    <div class="g-table">
        <div class="g-tr" data-bind="template: { name: 'T_FretTableHeaderCell', foreach: $data[0] }" />
        <div class="g-tr" data-bind="template: { name: 'T_FretTableCell', foreach: $data[0], as: 'cell' }" />
        <div class="g-tr" data-bind="template: { name: 'T_FretTableCell', foreach: $data[1], as: 'cell' }" />
        <div class="g-tr" data-bind="template: { name: 'T_FretTableCell', foreach: $data[2], as: 'cell' }" />
        <div class="g-tr" data-bind="template: { name: 'T_FretTableCell', foreach: $data[3], as: 'cell' }" />
        <div class="g-tr" data-bind="template: { name: 'T_FretTableCell', foreach: $data[4], as: 'cell' }" />
        <div class="g-tr" data-bind="template: { name: 'T_FretTableCell', foreach: $data[5], as: 'cell' }" />
    </div>
</script>


<script type="text/html" id="T_FretTableHeaderCell">
    <div class="g-th">
        <!-- ko if: $data.fret > 0 -->
        <div class="fret-in-table" data-bind="text: $data.fret" />
        <!-- /ko -->
    </div>
</script>


<script type="text/html" id="T_FretTableCell">
    <div class="g-td" data-bind="click: $root.clickOnCell.bind($root, cell)">
        <!-- ko if: $root.key().contains(cell.note) -->
        <div class="note-in-table" data-bind="text: cell.name" />
        <!-- /ko -->

        <!-- ko if: cell.fret > 0 -->
        <div class="string-line"></div>
        <!-- /ko -->

        <!-- ko if: (cell.fret == 3 && cell.string == 2) || (cell.fret == 5 && cell.string == 2) || (cell.fret == 7 && cell.string == 2) || (cell.fret == 9 && cell.string == 2) || (cell.fret == 12 && (cell.string == 0 || cell.string == 4))  ||  (cell.fret == 15 && cell.string == 2) || (cell.fret == 17 && cell.string == 2) || (cell.fret == 19 && cell.string == 2) || (cell.fret == 21 && cell.string == 2) -->
        <div class="neck-dot" />
        <!-- /ko -->

        <div class="markerarea-in-table">
            <span data-bind="text: (cell.markings()[2] ? cell.markings()[2] : '&nbsp;'), css: {'marker3-in-table': cell.markings()[2], 'nomarker-in-table': !cell.markings()[2]}"></span>
            <span data-bind="text: (cell.markings()[1] ? cell.markings()[1] : '&nbsp;'), css: {'marker2-in-table': cell.markings()[1], 'nomarker-in-table': !cell.markings()[1]}, attr: {title: (cell.markings()[1] ? cell.name : '')}"></span>
            <span data-bind="text: (cell.markings()[0] ? cell.markings()[0] : '&nbsp;'), css: {'marker1-in-table': cell.markings()[0], 'nomarker-in-table': !cell.markings()[0]}"></span>
        </div>
    </div>
</script>


<script type="text/html" id="T_MarkedNotes">
    <td data-bind="click: $root.selectColor.bind($root, colorNumber),
                    css: { selected: $root.selectedColor() == colorNumber,
                           'marked1-in-line': colorNumber == 0,
                           'marked2-in-line': colorNumber == 1,
                           'marked3-in-line': colorNumber == 2 }">

        <span data-bind="foreach: $root.markedNotesArray()[colorNumber]">
            <span class="note-in-line" data-bind="text: $data.name" />
        </span>

    </td>
    <td data-bind="click: $root.selectColor.bind($root, colorNumber),
                    css: { selected: $root.selectedColor() == colorNumber,
                           'marked1-in-line': colorNumber == 0,
                           'marked2-in-line': colorNumber == 1,
                           'marked3-in-line': colorNumber == 2 }">

        <span data-bind="foreach: { data: $root.matchingChordsArray()[colorNumber], as: 'chord'}">
            <label data-bind="text: chord.name, click: $root.setChord.bind($root, colorNumber, chord)"
                   class="button" style="padding-left: 20px;"
                    title="Set this chord"/>
        </span>

        <span class="button" data-bind="click: $root.enterChord.bind($root, colorNumber)" style="padding-left: 20px;">
            Q
        </span>

    </td>

</script>

