<div id="Title">
    <table style="width: 100%;">
        <tr style="width: 50%;">
            <td style="width: 50%;">
                <label style="font-size: 30px; font-weight: bold; color: burlywood;">F r e t 5</label>
            </td>
            <td style="width: 50%; text-align: right; color: burlywood;">
                <!-- ko if: $data.help -->
                <label data-bind="click: help">
                    Help
                </label>
                <!-- /ko -->
                <label data-bind="click: github" style="margin-left: 20px;">
                    github
                </label>
            </td>
        </tr>
    </table>
</div>
